* {
  box-sizing: border-box;
}
body {
  background-color: #ECFFFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: $black;
  font-weight: 400;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;

  h1 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .actions {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    a {
      color: $black;
      padding: 0.75rem 1rem;
      text-decoration: none;
      background-color: rgba($black, 0.2);
      margin-left: 1rem;
      border-radius: $radius;
      font-size: 0.8rem;

      &:hover {
        background-color: rgba($black, 0.4);
        color: $black;
      }
    }
  }
}
.content {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 600px;
  }
}
.footer {
  padding: 1rem;
  width: 100%;
  display: flex;
}
